<template name="stud">
	<form method="get" >
		Name <input type="name" id="name" required> <br>
		Present <input type="present" id="present" required> <br>
		Date <input type="date" id="date" required> <br>
		<button type="submit" id ="f1" class="btn btn-primary"> Submit </button>
	</form>

	No. of days present {{present}} <br>

	No. of days leave {{leave}}<br>

	All data
	<br>

	{{#each data}}
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			Name {{name}} 
			Date {{date}}
			Attendance {{present}}
		</div>
	</div>
	{{/each}}

</template> 